 .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .normalText {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
  }

  .normalText:hover {
    --bs-border-radius: 0.375rem;
    --bs-border-color: #dee2e6;
    --bs-border-width: 0rem;
    --bs-border-style: solid;


    background-color: rgb(169, 169, 169, 0.25);
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    border: 0;
  }

  .containerPadding {
    padding-top: 0.6rem;
    padding-bottom: 1rem;
  }

  /**************************************************/
